<%-include('./partials/header.ejs')%>
<h1 class="display-4">Cartridge List</h1>
<div class="container" style="width:60%">
   
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col"><%=caliber%> Cartridges</th>
            </tr>
        </thead>
        <tbody>
            <%for(let i = 0; i < foundAmmo.length; i++) { %>
            <tr>
                <td><a class="btn btn-outline-secondary" style="width:100%" href="/ammo/<%=foundAmmo[i].caliber%>/<%=foundAmmo[i].id%>"><%=foundAmmo[i].cartridge%></a></td>
            </tr>
            <%}%>

        </tbody>
    </table>

</div>

<%- include('./partials/footer.ejs') %>