<%-include('./partials/header.ejs')%>
<h1 class="display-4"><%=ammo.caliber%> <%=ammo.cartridge%></h1>



<div class="container" style="width:60%">
    <table class="table table-light table-bordered">
        <thead class="align-middle">
            <tr>
                <th scope="col"><%=ammo.cartridge%></th>
                <th scope="col"><img src="<%=ammo.img%>" class="img-fluid rounded img-thumbnail" style="max-width: 64px"></th>
            </tr>
            <tr class="table-secondary">
                <th scope="col">Ammunition Stat</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>Penetration Power:</td> 
                <td><%=ammo.penpower%></td>
            </tr>
            <tr>
                <td>Damage: </td> 
                <td> <%=ammo.damage%></td>
            </tr>
            <tr>
                <td>Muzzle Velocity: </td> 
                <td><%=ammo.velocity%>m/s</td>
            </tr>
            <tr>
                <td>Fragmentation Chance: </td> 
                <td><%=ammo.fragmentation%>%</td>
            </tr>
            <tr>
                <td>Purchasable From Traders: </td>
                <%if (ammo.purchasable === true) {%>
                    <td>Yes</td>
                <%} else if (ammo.purchasable !== true){%>
                    <td>No</td>
                <%}%>
            </tr> 
        </tbody>
    </table>
    <h4 class="display-6">Description</h4>
    <p class="lead"><%=ammo.description%></p>
</div>

<table class="table">
    <tr><a class="btn btn-outline-secondary" href="/ammo/<%=ammo.caliber%>/<%=ammo.id%>/edit">Edit</a>
    </tr>
    <tr>
        <form action="/ammo/<%=ammo.caliber%>/<%=ammo.id%>?_method=DELETE" method="POST">
            <input class="btn btn-outline-secondary" type="submit" value="DELETE">
        </form>
    </tr>
</table>


<%- include('./partials/footer.ejs') %>